/* Global Styles */
body {
  background: url("main.jpg") no-repeat center center/cover; /* Background image */
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: #333;
  overflow-x: hidden;
}

.glassy-container {
  width: 90%;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  margin: 20px;
  color: #333;
  text-align: center;
}

/* App  */
.App {
  text-align: center;
  margin-top: 5px;
}

/* Text */
h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}

/* Dropdown and Select */
.reactant-selection select {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

/* Reaction */
.reaction-visualization,
.reaction-explanation {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2,
h3 {
  color: #333;
}

/* Button */
button {
  background-color: #4b7d3b;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8ba44e;
  color: #333;
}

/* Dropdown Custom Styles */
.react-select__control {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #1e1e1e;
  box-shadow: none;
}

.react-select__menu {
  background-color: #f8f9fa;
}

.react-select__option {
  color: #333;
}

.react-select__option--is-selected {
  background-color: #4b7d3b;
  color: #fff;
}

.react-select__option--is-focused {
  background-color: #8ba44e;
  color: #333;
}

/* Container */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  align-items: center;
}

/* Header */
.app-header {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #414b25;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  text-align: center;
}

.logo-placeholder {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.logo {
  width: 100%;
  height: auto;
  opacity: 0.8;
}

/* Title */
.app-title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Footer  */
.app-footer {
  padding: 5px 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  text-align: center;
  margin-top: 15px;
}

.app-footer p {
  color: #fff;
  font-size: 0.75rem;
  margin: 0;
}

/* Link */
.footer-link {
  color: #8ba44e;
  text-decoration: none;
  margin-left: 5px;
}

.footer-link:hover {
  color: #ffd700;
  text-decoration: underline;
}
